<div class="d-flex flex-row">
    {% for activitie in activities %}
    <div class="card flex-fill">
        <div class="card-body">
            <h5 class="card-title">{{ activitie.type }}</h5>
            <p class="card-text">{{ activitie.startDate | date('d-m-Y h:i') }} - {{ activitie.endDate | date('h:i') }}</p>
        </div>
    </div>
    {% endfor %}
</div>