<div class="d-flex flex-row">
    <div class="card flex-fill">
        <div class="card-body">
            <h5 class="card-title">21 pazdziernika</h5>
            <p class="card-text">mgr Anna Kuzik</p>
        </div>
    </div>

    <div class="card flex-fill">
        <div class="card-body">
            <h5 class="card-title">23 pazdziernika</h5>
            <p class="card-text">mgr Anna Kuzik</p>
        </div>
    </div>

    <div class="card flex-fill">
        <div class="card-body">
            <h5 class="card-title">25 pazdziernika</h5>
            <p class="card-text">mgr Janek Kuzik</p>
        </div>
    </div>
</div>