{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block body %}
<div class="container">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item active"><a href="#">Strona główna</a></li>
    </ol>

    <h2 class="title">Witaj w aplikacji GradeBook !</h2>
    <p class="card-text">GradeBook to elektroniczna wersja dziennika potrzebnego do pracy każdego nauczyciela,
     czy wykładowcy.</p>
</div>
{% endblock %}